/* 
    960(a+b), 593.313(a), 366.6874(b)
    768(a+b), 474.65(a), 293.35(b)
    320(a+b), 197.771(a), 122.2291(b)
    450(a+b), 278.1153(a), 171.8847(b)
*/

*, *:before, *:after, html {
  box-sizing: border-box;
}

html, body, figure {
  margin: 0;
  padding: 0;
}

/* --- Mobile navigation --- */
#main-nav {
  background: #222;
  color: #fff;
  margin-bottom: 1em;
  line-height: 2;
}
/* Hamburger Icon */
#main-nav label { 
  display: block; 
  font-style: normal;
  font-size: 2.5em;
  text-align: center;
  cursor: pointer;
}
/* Hide the checkbox */
#hamburger {
  display: none;
}

#nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Break down menu items into vertical */
#nav-items a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}

#nav-items a:hover {
  background: #555;
}

/* Toggle Show/Hide Menu */
#nav-items { 
  display: none; 
}

#main-nav input:checked ~ #nav-items { 
  display: block; 
}

@media screen and (min-width: 768px) {
  /* Hide Hamburger Icon on larger screens */
  #main-nav label {
    display: none;
  }

  /* Horizontal Menu Items */
  #nav-items, #main-nav input:checked ~ #nav-items {
    display: flex;
    flex-wrap: wrap;
  }

  #nav-items li {
    flex-grow: 1;
  }

  #nav-items a {
    width: 100%;
    text-align: center;
  }

}
