/* 
    960(a+b), 593.313(a), 366.6874(b)
    768(a+b), 474.65(a), 293.35(b)
    320(a+b), 197.771(a), 122.2291(b)
    450(a+b), 278.1153(a), 171.8847(b)
*/
*, *:before, *:after, html {
  box-sizing: border-box;
}

html, body, figure {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: normal;
}

:root {
  --interface-background-color: #111;
  --interface-background-hover-color: rgb(214, 21, 37);
  --light-text-color: #fff;

  --hide-visibility: hidden;
  --hide-opacity: 0;
  --hide-max-height: 0px;

  --main-nav-label-display: block;
  --nav-items-display: block;
  --nav-items-a-padding: 1.5em;
}

@media screen and (min-width: 768px) {
  :root {
    --flex-grow-1: 1;
    --flex-wrap-wrap: wrap;

    --hide-visibility: visible;
    --hide-opacity: 1;
    --hide-max-height: unset;

    --main-nav-label-display: none;
    --nav-items-display: flex;
    --nav-items-a-padding: .5em 0;
  }
}

#hgroup, figcaption, #footer section, #copyright {
  padding: 1em;
}

.more {
  margin: 1em 0 2em auto;
}

#hgroup h1 {
  margin-bottom: .15em;
}

#hgroup h2 {
  font-size: 1.25em;
  margin-top: 0;
}

#hgroup a {
  text-decoration: none;
}

figcaption h2 {
  margin: 0;
}

/* #footer */
#footer, #copyright {
  background: var(--interface-background-color);
  color: var(--light-text-color);
}

#footer ul {
  list-style: none;
  padding: 0;
}

#footer li {
  line-height: 2;
}

/*     Main navigation     */
#main-nav {
  background: var(--interface-background-color);
  color: var(--light-text-color);
  line-height: 2;
}

/* Hamburger Icon */
#main-nav label { 
  display: var(--main-nav-label-display); 
  font-style: normal;
  font-size: 2.5em;
  text-align: center;
  cursor: pointer;
}

/* Hide the checkbox */
#hamburger {
  display: none;
}

#nav-items {
  display: var(--nav-items-display);
  flex-wrap: var(--flex-wrap-wrap, unset);
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-items li {
  flex-grow: var(--flex-grow-1, unset);
}

/* Break down menu items into vertical */
#nav-items a {
  display: block;
  padding: var(--nav-items-a-padding);
  text-decoration: none;
  color: var(--light-text-color);
  text-align: center;
}

#nav-items a:hover, #main-nav label:hover {
  background: var(--interface-background-hover-color);
}

.navItems { 
  visibility: visible;
  opacity: 1;
  max-height: 900px;
  transition: visibility 0s, opacity 3s, max-height 0.5s linear;
}

.hide {
  visibility: var(--hide-visibility);
  opacity: var(--hide-opacity);
  max-height: var(--hide-max-height);
  transition: max-height 0.2s, opacity .01s, visibility 0.2s linear;
}

#main-nav input:checked ~ #nav-items { 
  display: var(--nav-items-display);
  flex-wrap: var(--flex-wrap-wrap, unset); 
}
/*    / Mobile navigation     */
