*, *:before, *:after, html {
  box-sizing: border-box;
}

html, body, figure {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: normal;
}

:root {
  --dark-blue: #00042c;
  --med-blue: #0b1c50; 
  --light-blue: #6678b6;
  --bronze: #a68e72;
  --dark-bronze: #574633;
  --gray: #a8b0c7;
  --gray-hsla: hsla(225, 22%, 92%, 75%);
  --white: #fffff7;
  --black: #000216;

  --box-shadow: 0 5px 5px 1px rgba(0,0,0,.2);

  --hide-visibility: hidden;
  --hide-opacity: 0;
  --hide-max-height: 0px;

  --hgroup-min-height: 55vh;

  --main-nav-label-display: block;
  --nav-items-display: block;
  --nav-items-a-padding: 1.5em;
}

@media screen and (min-width: 768px) {
  :root {
    --flex-grow-1: 1;
    --flex-wrap-wrap: wrap;

    --hide-visibility: visible;
    --hide-opacity: 1;
    --hide-max-height: unset;

    --main-nav-label-display: none;
    --nav-items-display: flex;
    --nav-items-a-padding: .5em 0;
  }
}

html {
  background: var(--white);
  color: var(--black);
}

a {
  color: var(--med-blue);
}

#header {
  background: var(--black);
}

#hgroup {
  text-align: center;
}

#hgroup, figcaption, #footer section, #copyright {
  padding: 1em;
}

.more {
  display: block;
  text-align: right;
}

#hgroup h1 {
  margin-bottom: 0;
  font-size: 4.3em;
  letter-spacing: 8px;
}

#hgroup h2 {
  color: var(--gray);
  font-size: 1.25em;
  margin-top: 0;
}

#hgroup a {
  color: var(--bronze);
  text-decoration: none;
}

#hero-1 {
  background: url('../img/bg-bike-oyma_power-with_rider.jpg') no-repeat 65% center;
  background-size: cover;
  min-height: 72vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-cta {
  width: clamp(280px, 36em, 80%);
  background: var(--gray-hsla);
  border: 1px solid var(--gray-hsla);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.hero-cta p {
  font-size: clamp(1em, 3vw, 2.5em);
  margin: 1em;
}

.hero-cta .more {
  margin: 1em;
}

figure img {
  display: flex;
  margin: auto;
}

figcaption h2 {
  color: var(--dark-bronze);
  margin: 0;
}

/* #services */
#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3em auto;
}

#services figure {
  background: white;
  max-width: 300px;
  padding: .25em;
  margin: 2em 5px;
  border: 1px solid var(--gray-hsla);
  border-radius: 5px;
}

#services figure:hover {
  box-shadow: var(--box-shadow);
}

/* #intro */
#intro {
  padding-bottom: 5em;
}

/* #footer */
#footer, #copyright {
  background: var(--black);
  color: var(--gray);
}

#footer ul {
  list-style: none;
  padding: 0;
}

#footer li {
  line-height: 2;
}

#footer a, #copyright a {
  color: var(--white);
}

/*     Main navigation     */
#main-nav {
  background: var(--black);
  color: var(--white);
  line-height: 2;
}

/* Hamburger Icon */
#main-nav label { 
  display: var(--main-nav-label-display); 
  font-style: normal;
  font-size: 2.5em;
  text-align: center;
  cursor: pointer;
  color: var(--gray);
}

/* Hide the checkbox */
#hamburger {
  display: none;
}

#nav-items {
  display: var(--nav-items-display);
  flex-wrap: var(--flex-wrap-wrap, unset);
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-items li {
  flex-grow: var(--flex-grow-1, unset);
}

/* Break down menu items into vertical */
#nav-items a {
  display: block;
  padding: var(--nav-items-a-padding);
  text-decoration: none;
  color: var(--white);
  text-align: center;
}

#nav-items a:hover, #main-nav label:hover {
  background: var(--dark-bronze);
}

.navItems { 
  visibility: visible;
  opacity: 1;
  max-height: 900px;
  transition: visibility 0s, opacity 3s, max-height 0.5s linear;
}

.hide {
  visibility: var(--hide-visibility);
  opacity: var(--hide-opacity);
  max-height: var(--hide-max-height);
  transition: max-height 0.2s, opacity .01s, visibility 0.2s linear;
}

#main-nav input:checked ~ #nav-items { 
  display: var(--nav-items-display);
  flex-wrap: var(--flex-wrap-wrap, unset); 
}
/*    / Mobile navigation     */
