html {
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* main navigation */
#mainNavButton span {
    font-size: 1.4rem;
    color: #fff;
    line-height: .65;
}
#mainNavButton {
    display: flex;
    align-items: baseline;
}
.mainNavItems {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    margin: 1em 0 2em;
    padding: 0 1em;
}
.mainNavItems li {
    display: inline-block;
    margin: .4em 0;
}
.mainNavItems ol {
    padding: .25em 1.2em;
}
.mainNavItems ol li {
    display: list-item;
}
.mainNavItems h3 {
    font-weight: normal;
    font-size: 1rem;
}

.active {
    color: #f8de4c;
}
/* / main navigation */

button {
    border: none;
    font-size: 1rem;
    padding: .5em .7em;
    background: #6944f0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: .4em;
    display: inline-block;
}

button:hover, .checked {
    background: #f83f23 !important;
}

button span {
    font-weight: 700;
}

/* up-arrow button */
.float-right {
    float: right;
}
.up-arrow {
    display: block flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    font-size: 1rem;
    font-family: 'Lucida Console';
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    background: #6944f0;
}

header p {
    font-size: 1.5rem;
}

.max-width-38em {
    max-width: 38em;
}

section h2 {
    font-weight: normal;
}

.container {
    background: #777482;
    border: 3px solid #f82323;
    color: white;
    text-shadow: 1px 1px 3px black;
    margin-bottom: 3em;
    font-size: 2rem;
}

.display-flex {
    display: flex;
}

.container p {
    font-size: 1.3rem;
    border: 3px dotted #f8de4c;
    background: black;
}

header {
    margin: 0 auto;
    padding: 2em;
    color: #fff;
    background: #444;
}

header span, header h2 {
    color: #f8de4c;
}

header a {
    color: #fff;
}

details > summary {
    padding: 0 0 .5em;
    cursor: pointer;
}

details[open] {
    padding-bottom: .7em;
}

details[open] > summary span {
    color: #f8de4c;
}

section {
    max-width: 66em;
    background: #fff;
}

section {
    border-bottom: 1px dashed #f83f23;
    margin: 3em auto;
    padding: 1em 1em 2em;
}

section:last-of-type {
    border-bottom: none;
}

.toggles {
    margin: 0 auto 5em;
    padding: 1em 2em 2em;
    color: #fff;
    background: #222;
    position: sticky;
    top: 0;
}

.toggles h3 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0 0 1.5em;
}

.toggles h4 {
    font-weight: normal;
    margin: 0;
    font-size: .9rem;
    color: #f8de4c;
} 

.rtlDir {
    direction: rtl;
}

.flexDirectionRow {
    flex-direction: row;
}

.flexDirectionRow-reverse {
    flex-direction: row-reverse;
}

.flexDirectionColumn {
    flex-direction: column;
}

.flexDirectionColumn-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.displayNone {
    display: none;
}



/* flex justify-content */
.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

/* flex align-items */
.alignItems-flex-start {
    align-items: flex-start;
}
.alignItems-self-start {
    align-items: self-start;
}
.alignItems-start {
    align-items: start;
}

.alignItems-flex-end {
    align-items: flex-end;
}
.alignItems-self-end {
    align-items: self-end;
}
.alignItems-end {
    align-items: end;
}


.alignItems-center {
    align-items: center;
}

.alignItems-baseline {
    align-items: baseline;
}


/* align-content */
.alignContent-stretch {
    align-content: stretch;
}
.alignContent-flex-start {
    align-content: flex-start;
}
.alignContent-self-start {
    align-content: self-start;
}
.alignContent-start {
    align-content: start;
}
.alignContent-flex-end {
    align-content: flex-end;
}
.alignContent-self-end {
    align-content: self-end;
}
.alignContent-end {
    align-content: end;
}
.alignContent-center {
    align-content: center;
}
.alignContent-space-between {
    align-content: space-between;
}
.alignContent-space-around {
    align-content: space-around;
}


/* flex gap */
.gap1em {
    gap: 1em;
}
.gap4em {
    gap: 4em;
}
.gap8em {
    gap: 8em;
}